@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 30px;
    padding: 20px;
    border: 1px solid #d6d6d6;
    justify-content: center;
}

.head {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.sdt {
    font-weight: 700;
}

input{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
}

.success {
    background-color: rgb(36, 36, 255);
    color: #fff;
}

.other1 {
    background-color: #fff;
    position: relative;
}

.icon1{
    position: absolute;
    top: 300px;
    margin-left: 90px;
}

.other2 {
    background-color: #fff;
    position: relative;
}

.icon2{
    position: absolute;
    top: 365px;
    margin-left: 95px;
}

.foot{
    text-align: center;
}

.text{
    text-align: center;
    border: 1px  #d6d6d6;
}

img{
    width: 25px;
    height: 25px;
}