*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    background-color: orange;
    height: 80px;
}

.item:nth-child(1){
    width: 30%;
}

.item:nth-child(2){
    width: 100%;
}

.item:nth-child(3){
    width: 90%;
}

.item:nth-child(4){
    width: 10%;
}

.item:nth-child(5){
    width: 50%;
}

.item:nth-child(6){
    width: 60%;
}

.item:nth-child(7){
    width: 40%;
}

.item:nth-child(8){
    width: 80%;
}
